<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body class="first_page">
        <div>
            <div class="bt_register">
                <a href="/users/sign_up">Cadastrar</a>
            </div>
            <div class="bt_login">
                <a href="/restaurants" style="color: white;">Entrar</a>
            </div>
        </div>
    </body>
</html>
