<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VRaptor Blank Project</title>

        <style type="text/css">
            html {
                font-family: sans-serif;
            }

            body {
                background: url(http://www.bookme.ie/img/2.jpg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-attachment: fixed;
            }

            div {
                text-align: center;
                vertical-align: central;
                height: 100%;
                width: 100%;
                padding-top: 20%;
            }

            .cadastrar {
                padding: 10px;
                background: red;
                text-decoration: none;
                border-radius: 1px;
                color: white;
                font-size: x-large;
                border: 0px;
                -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
            }

            .entrar {
                background: url(../..//imagens/transparent.png);
                margin-top: 10px;
                text-decoration: none;
                font-size: medium;
                color: white;
                border: 0px;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="cadastrar">
                <a href="/users/sign_up">Cadastrar</a>
            </div>
            <div class="entrar">
                <a href="/restaurants">Entrar</a>
            </div>
        </div>
    </body>
</html>
